<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>magical store</title>
</head>
<body>
    <center>
        <h1 class="glow">welcome to magical store</h1>
        <h3 class="glow">in magical store we are selling many thig that connected to harry potter movies and books</h3><br>
        <img src="https://harrypottershop.com/cdn/shop/products/Large_Trunk_US_Gryff_1024x.png?v=1677079930" width="400px">

        <h2 class="glow">items package</h2>
        <img src="https://ae01.alicdn.com/kf/HTB1Gmy4acfrK1Rjy0Fmq6xhEXXa4/Harry-Potter-Badge-School-Hogwarts-Wallet-bag-PU-Package-wallet-Collectible-Shoulder-Bags-Christmas-Gifts-Bag.jpg" width="400px" class="products"> 
        
        <center><a href="product.html" target="_blank">to go to the prouduct page</a></center>
    </center>
    <style>
        a:link, a:visited {
            background-color: brown;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }
    </style>





</body>
</html>